.move {
    left: 50%;
    top: 50%;
    transform: translate(0, -100%);
    position: fixed;
    font-size: small;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    transition: opacity 1s ease-in;
}

.home .logo {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: start;
}

.home-content {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-in-out;
}

.home-content.active {
    transform: translateY(-100%);
}


.active-button-indicator {
    display: flex;
    width: 25%;
    padding-right: 8px;
}

.button {
    width: 30%;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;

}

.button:hover {
    cursor: pointer;
}

.credits-button {
    z-index: 100;
    position: absolute;
    bottom: 2vh;
}

.credits-button:hover {
    cursor: pointer;
}

.credits {
    position: absolute;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    transition: all 1s ease-in-out;
    transform: translateY(100%);
}

.credits.active {
    transform: translateY(0);
}

#audio-controls {
    .audio-wave-button {
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: 1000;
        margin: 2vh;

    }

    .audio-wave-button:hover {
        cursor: pointer;
    }

    .audio-wave-button:focus {
        outline: none;
        box-shadow: none;
    }

    .audio-wave-playing {
        object-fit: contain;
        width: 20px;
        height: 20px;
    }

    .audio-wave-not-playing {
        display: flex;
        width: 20px;
        height: 20px;
    }

    .audio-wave-not-playing>div {
        margin-top: 3px;
        border-top: solid 1px;
        border-color: white;
        width: 100%;
    }
}