.btn-test {
    background-color: white;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
}

.btn-test:active {
    background-color: gray;
}

.title {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* .ui-elements {
    padding: 1rem;
} */

.scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.object-interact {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ObjectPanel */

.object-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, 100%);
    /* Stay centered horizontally but off-screen vertically */
    width: 50%;
    height: 50%;
    transition: all 0.5s ease-out;
    /* Smooth animation */
}

.object-panel.active {
    transform: translate(-50%, 0%);
    /* Stay centered horizontally when sliding into view */
}

/* dialog */

#dialog {
    .dialog-container {
        position: fixed;
        z-index: 30;
        width: 100%;
        height: 60vh;
        bottom: 0;
        transition: all 0.5s ease-out;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 5vw;
        /* clip-path : polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
        /* clip-path: ellipse(100% 200% at 20% 50%);
    opacity: 1; */
        mask-mode: luminance;
        -webkit-mask-image: url("/dialog-transition-mask.png");
        mask-image: url("/dialog-transition-mask.png");
        /* -webkit-mask-position: 0% 20%;
    mask-position: 0% 20%; */
        -webkit-mask-size: 100% 3100%;
        mask-size: 100% 3100%;
        -webkit-animation: mask-play 0.5s steps(30) forwards;
        animation: mask-play 0.5s steps(30) forwards;
        -webkit-mask-position: 0 0%;
        mask-position: 0 0%;
        font-family: Cadiz;
        /* background-color: red; */
    }


    .cliped {
        -webkit-animation: mask-reverse 0.5s steps(30) forwards;
        animation: mask-reverse 0.5s steps(30) forwards;
        user-select: none;
        pointer-events: none;
        /* -webkit-mask-position: 0% 0%;
        mask-position: 0% 0%; */
        /* opacity: 0;
        clip-path : polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
        clip-path: ellipse(0% 0% at 20% 50%); */
    }

    .bottom-bar {
        position: fixed;
        z-index: 10;
        bottom: 0;
        height: 10vh;
    }



    .line-wrapper {
        margin-top: 6vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        bottom: 0;
    }

    .line {
        color: white;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .line-name {
        color: white;
        width: fit-content;
        height: fit-content;
        font-size: 1.4rem;
        font-weight: 900;
    }

    .line-text {
        font-family: 'Cadiz';
        font-weight: normal;
        font-style: normal;

        height: fit-content;
        padding: 0.25rem 0rem;
        opacity: 0.6;
        line-height: 1.4rem;
        font-size: 1.2rem;
    }

    .dialog-text-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        justify-content: center;
        align-items: start;
        position: relative;
        z-index: 2;
        background: url("/characters/background.png");
        background-size: 100% 100%;
    }

    .dialog-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        width: 75%;
    }

    .dialog-button {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: fit-content;
        height: fit-content;
        opacity: 0.5;
        transition: opacity 0.25s ease-out;
        line-height: 1.4rem;
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }

    .active-button,
    .dialog-button:hover {
        opacity: 1;
    }

    .dialog-button span {
        position: relative;

        font-family: 'Cadiz';
        font-weight: normal;
        font-style: normal;
        transform-origin: center left;
    }

    .active-button span,
    .dialog-button:hover span {
        font-family: 'Cadiz';
        font-weight: bold;
        font-style: normal;
        scale: 0.93;
    }

    .dialog-button {
        .active-button-indicator {
            display: flex;
            width: 3.2rem;
            padding-right: 8px;
        }
    }

    .profile-pic-container {
        height: 60vh;
        aspect-ratio: 1/1;
        position: relative;
        z-index: 1;
    }

    .profile-pic {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 60vh;
        aspect-ratio: 1/1;
    }

    .profile-pic-name {
        position: absolute;
        z-index: 5;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -150%);
        font-size: 2rem;
        color: black;
        font-weight: bold;
    }

    .letter {
        opacity: 0;
        animation-name: appearOpacity;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
    }

    .options-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

        opacity: 0;
        animation-name: appearOpacity;
        animation-duration: 500ms;
        animation-fill-mode: forwards;

    }

    .appear-height {
        display: grid;
        /* grid-template-rows: 0fr; */
        animation-name: appearHeight;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
    }

    .appear-height:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .appear-height:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
    }
}


@-webkit-keyframes mask-play {
    from {
        -webkit-mask-position: 0 0%;
        mask-position: 0 0%;
    }

    to {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
    }
}

@keyframes mask-play {
    from {
        -webkit-mask-position: 0 0%;
        mask-position: 0 0%;
    }

    to {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
    }
}

@-webkit-keyframes mask-reverse {
    from {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
    }

    to {
        -webkit-mask-position: 0 0%;
        mask-position: 0 0%;
    }
}

@keyframes mask-reverse {
    from {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;
    }

    to {
        -webkit-mask-position: 0 0%;
        mask-position: 0 0%;
    }
}

@keyframes appearOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appearHeight {
    0% {
        grid-template-rows: 0fr;
    }

    100% {
        grid-template-rows: 1fr;
    }
}