.page {
    transition: background-color 1s ease;
    width: 100dw;
    height: 100vh;
}

.page::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 50; */
    pointer-events: none;
    /* Allow clicks to pass through */
    transition: background-color 1s ease;
}

.fade-in::before {
    background-color: transparent;
    opacity: 1;
}

.fade-out::before {
    background-color: white;
}

.page>* {
    position: relative;
    /* z-index: 49; */
    height: 100%;
    width: 100%;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.95); */
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}