.btn-test {
    background-color: white;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
}

.btn-test:active {
    background-color: gray;
}

.title {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* .ui-elements {
    padding: 1rem;
} */

.scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.object-interact {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    pointer-events: none;
}

/* ObjectPanel */

.object-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, 100%);
    /* Stay centered horizontally but off-screen vertically */
    width: 50%;
    height: 50%;
    transition: all 0.5s ease-out;
    /* Smooth animation */
}

.object-panel.active {
    transform: translate(-50%, 0%);
    /* Stay centered horizontally when sliding into view */
}

.subtitles-container {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    animation-name: appearOpacity;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
    font-size: 1.4rem;
}

.subtitles-container.centered {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    /* Changed from -50% to 50% for the Y-axis to properly center vertically */
}

@keyframes appearOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.subtitles-line-text {
    font-family: 'Cadiz';
    font-weight: normal;
    font-style: normal;

    height: fit-content;
    padding: 0.25rem 0rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.subtitles-container>.subtitles-line-text {
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
}

.subtitles-container.centered>.subtitles-line-text {
    -webkit-text-fill-color: black;
    color: black;
    ;
}

.letter {
    opacity: 0;
    animation-name: appearOpacity;
    animation-duration: 500ms;
    animation-fill-mode: forwards;

}
