.btn-test {
    background-color: white;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
}

.btn-test:active {
    background-color: gray;
}

.title {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.ui-elements {
    padding: 1rem;
}

.scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.object-interact {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ObjectPanel */

.object-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, 100%);
    /* Stay centered horizontally but off-screen vertically */
    width: 50%;
    height: 50%;
    transition: all 0.5s ease-out;
    /* Smooth animation */
}

.object-panel.active {
    transform: translate(-50%, 0%);
    /* Stay centered horizontally when sliding into view */
}